{% extends 'base.html' %}

{% block title %} Create post {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/js/drop.js">
{% endblock %}
{% block body %}
<div class="title_canvas">
    <div class="title_container">
        <form class="title-form" method="post" action="{{ url_for('create_post')}}"  enctype="multipart/form-data">
            <div class="input_box">
                <input  name="user" placeholder="Чей фильм">
            </div>
            <div class="input_box">
                <input  name="movie" placeholder="Название">
            </div>
            <div class="input_box">
                <textarea name="text" placeholder="Комментарии"></textarea>
            </div>
            <div>
                <input type="file" name="media">
            </div>
            <button type="submit">Создать</button>
        </form>
        <form action="{{ url_for('main') }}">
            <button>Назад</button>
        </form>
        
    </div>
</div>


{% endblock %}