{% extends 'base.html' %}

{% block title %} Create post {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/js/drop.js">
{% endblock %}
{% block body %}
<div class="title_canvas">
    <div class="title_container">
        <form class="title-form" method="post" action="{{ url_for('create_post')}}" enctype="multipart/form-data">
            <div class="input_box">
                <input name="user" placeholder="Чей фильм">
            </div>
            <div class="input_box">
                <input name="movie" placeholder="Название">
            </div>
            <div class="input_box">
                <textarea name="text" placeholder="Комментарии"></textarea>
            </div>
            <div class="input_box">
                <input type="number" name="evan_rating" placeholder="Рейтиг Эвана">
            </div>
            <div class="input_box">
                <input type="number" name="fury_rating" placeholder="Рейтиг Фури">
            </div>
            <div class="input_box file-input">
                <input type="file" name="media">
            </div>
            <div class="button-container">
                <button type="submit" class="submit-btn">Создать</button>
                <a href="{{ url_for('main') }}" class="back-btn">Назад</a>
                
            </div>
        </form>
    </div>
</div>



{% endblock %}